<section class="full-width-image">
  <h2 class="full-width-image__header">{{heading}}</h2>

  <figure class="full-width-image__figure">
    <div class="full-width-image__wrapper">
      <img alt="Alt Text" class="full-width-image__image" src="{{image}}"/>
    </div>

    <figcaption class="full-width-image__caption">{{caption}}</figcaption>
  </figure>
</section>
