<section class="page-intro" aria-labelledby="pageIntroHeading">
  <h2 class="page-intro__heading" id="pageIntroHeading">{{heading}}</h2>
  <div class="page-intro__lead-in rtf">{{{leadIn}}}</div>
</section>
