$article-card-bg: #fff !default;
$article-card-border: map-get($theme-colors, 'primary-light-gray') !default;
$article-card-title: map-get($theme-colors, 'primary-dark') !default;
$article-card-text: map-get($theme-colors, 'primary') !default;
$article-card-headline: map-get($theme-colors, 'primary') !default;
