{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "> 1%",
            "not dead"
          ]
        },
        "debug": false,
        "corejs": "3",
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ],
  "ignore": [
    "src/components/**/*.config.js"
  ]
}
