@import "../base";

.btn {
  appearance: none;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  min-width: 200px;
  padding: 12px 24px 14px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;

  svg {
    height: 30px;
    margin-right: 17px;
    transition: fill 0.2s ease-in-out;
    width: 30px;
  }

  &.btn--primary {
    background-color: var(--primary);
    color: var(--white);

    svg {
      fill: var(--white);
    }

    &:hover,
    &:focus {
      background-color: var(--primary-dark);
    }

    &.btn--outline {
      background-color: transparent;
      border: solid 1px var(--primary);
      color: var(--primary);

      svg {
        fill: var(--primary);
      }

      &:hover,
      &:focus {
        background-color: var(--primary-dark);
        border: solid 1px var(--primary-dark);
        color: var(--white);

        svg {
          fill: var(--white);
        }
      }
    }

    &:disabled,
    &.btn--disabled {
      background-color: rgba(6, 132, 123, 0.2);
      color: var(--primary-light);
      pointer-events: none;
    }
  }

  &.btn--secondary {
    background-color: var(--white);
    color: var(--primary);

    svg {
      fill: var(--primary);
    }

    &:hover,
    &:focus {
      background-color: var(--primary);
      color: var(--white);

      svg {
        fill: var(--white);
      }
    }

    &.btn--outline {
      background-color: transparent;
      border: solid 1px var(--white);
      color: var(--white);

      svg {
        fill: var(--white);
      }

      &:hover,
      &:focus {
        background-color: var(--white);
        color: var(--primary-dark);

        svg {
          fill: var(--primary-dark);
        }
      }
    }

    &:disabled,
    &.btn--disabled {
      background-color: transparent;
      border: solid 1px var(--primary-light);
      color: var(--primary-light);
      pointer-events: none;
    }
  }

  &.btn--small {
    font-size: 14px;
    min-width: 100px;
    padding: 5px 20px;
  }
}
