<ul>
{{#json links}}
  {{#each this}}
    <li>
      <a class="link-list link-list--{{iconPosition}} link-list--{{size}}" href="#" tabindex="0">
      <span>{{label}}</span>
      {{> svg name=icon viewBox="0 0 10 10" className="link-list__arrow"}}
      </a>
    </li>
  {{/each}}
{{/json}}
</ul>
