@import '../theme', 'variables';

.video {
  cursor: pointer;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;

  &:hover {
    svg {
      fill: var(--primary);
    }
  }

  video,
  iframe {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  svg {
    bottom: 20px;
    fill: var(--white);
    height: 30px;
    position: absolute;
    right: 20px;
    transition: fill 0.2s ease-in-out;
    width: 30px;
    z-index: 1;

    @include mq(desktop) {
      bottom: 30px;
      right: 30px;
    }
  }

  &.video--playing {
    svg {
      display: none;
    }
  }
}

.video__background {
  left: 0;
  padding-bottom: 56.25%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  iframe {
    pointer-events: none;
  }
}

.video__poster {
  picture,
  img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
