<div class="video"{{#unless background}} data-module="vimeo" data-video-id="{{videoId}}"{{/unless}}>
  {{#if background}}
  <div class="video__background">
    <iframe src="https://player.vimeo.com/video/{{videoId}}?background=true" width="640" height="360"
    frameborder="0"></iframe>
  </div>
  {{else}}
  {{#json image}}
  {{>picture className="video__poster"}}
  {{/json}}
  {{>svg name="play" viewBox="0 0 495 495"}}
  {{/if}}
  <script src="https://player.vimeo.com/api/player.js"></script>
</div>
