@import url('http://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');
@import url('http://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
/* line 7, src/components/preview.scss */
:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #06847b;
  --primary-dark: #1e3f36;
  --primary-light: #6f8f89;
  --gray: #4a4a4a;
  --light-gray: #e5e5e5;
  --warning: #fb9300;
  --critical: #f54748;
}

/* line 19, src/components/preview.scss */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
html,
body,
div,
span,
applet,
object,
iframe,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 109, src/components/preview.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 123, src/components/preview.scss */
body {
  line-height: 1;
}

/* line 127, src/components/preview.scss */
ol,
ul {
  list-style: none;
}

/* line 132, src/components/preview.scss */
blockquote,
q {
  quotes: none;
}
/* line 136, src/components/preview.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 143, src/components/preview.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 148, src/components/preview.scss */
button {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  outline: 0;
}

/* line 156, src/components/preview.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 163, src/components/preview.scss */
input[type='search'] {
  appearance: none;
}
/* line 166, src/components/preview.scss */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/* line 174, src/components/preview.scss */
input[type='number'] {
  appearance: none;
}

/* line 179, src/components/preview.scss */
picture {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
}
/* line 185, src/components/preview.scss */
picture img {
  height: 100%;
  width: 100%;
}

/* line 191, src/components/preview.scss */
img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

/* line 197, src/components/preview.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.78;
}

/* line 203, src/components/preview.scss */
.container {
  margin: 0 auto;
  max-width: 1840px;
  padding: 0 20px;
}
@media (min-width: 80em) {
  /* line 203, src/components/preview.scss */
  .container {
    padding: 0 80px;
  }
}
@media (min-width: 100em) {
  /* line 203, src/components/preview.scss */
  .container {
    padding: 0 120px;
  }
}

/* line 5, src/components/accordion/_styles.scss */
.accordion {
  margin-bottom: 60px;
  margin-top: 60px;
}
@media (min-width: 80em) {
  /* line 5, src/components/accordion/_styles.scss */
  .accordion {
    margin-bottom: 150px;
    margin-top: 150px;
  }
}

/* line 15, src/components/accordion/_styles.scss */
.accordion__header {
  margin-bottom: 29px;
}
@media (min-width: 80em) {
  /* line 15, src/components/accordion/_styles.scss */
  .accordion__header {
    margin-bottom: 60px;
  }
}

/* line 23, src/components/accordion/_styles.scss */
.accordion__title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.13;
  margin: 0 0 10px;
}
@media (min-width: 80em) {
  /* line 23, src/components/accordion/_styles.scss */
  .accordion__title {
    font-size: 40px;
    line-height: 1.09;
  }
}
@media (min-width: 100em) {
  /* line 23, src/components/accordion/_styles.scss */
  .accordion__title {
    font-size: 44px;
  }
}

@media (min-width: 80em) {
  /* line 40, src/components/accordion/_styles.scss */
  .accordion__description {
    max-width: calc(66% - 51px);
  }
}

/* line 46, src/components/accordion/_styles.scss */
.accordion__item {
  border: solid 1px #06847b;
}
/* line 49, src/components/accordion/_styles.scss */
.accordion__item + .accordion__item {
  margin-top: 20px;
}
@media (min-width: 80em) {
  /* line 49, src/components/accordion/_styles.scss */
  .accordion__item + .accordion__item {
    margin-top: 30px;
  }
}

/* line 58, src/components/accordion/_styles.scss */
.accordion__item-trigger {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  height: auto;
  justify-content: space-between;
  min-height: 60px;
  padding: 9px 25px;
  text-align: left;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}
@media (min-width: 80em) {
  /* line 58, src/components/accordion/_styles.scss */
  .accordion__item-trigger {
    height: 50px;
    padding: 0 25px;
  }
  /* line 78, src/components/accordion/_styles.scss */
  .accordion__item-trigger:hover,
  .accordion__item-trigger:focus {
    background-color: #06847b;
  }
  /* line 82, src/components/accordion/_styles.scss */
  .accordion__item-trigger:hover h3,
  .accordion__item-trigger:focus h3 {
    color: #fff;
  }
  /* line 86, src/components/accordion/_styles.scss */
  .accordion__item-trigger:hover .accordion__item-icon-plus,
  .accordion__item-trigger:hover .accordion__item-icon-minus,
  .accordion__item-trigger:focus .accordion__item-icon-plus,
  .accordion__item-trigger:focus .accordion__item-icon-minus {
    fill: #fff;
  }
}
/* line 94, src/components/accordion/_styles.scss */
.accordion__item-trigger[aria-expanded='true'] .accordion__item-icon-plus {
  display: none;
}
/* line 98, src/components/accordion/_styles.scss */
.accordion__item-trigger[aria-expanded='true'] .accordion__item-icon-minus {
  display: block;
}

/* line 104, src/components/accordion/_styles.scss */
.accordion__item-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.78;
  margin: 0;
  transition: color 0.2s ease-in-out;
}

/* line 113, src/components/accordion/_styles.scss */
.accordion__item-heading {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.19;
  margin: 0 0 10px;
}
@media (min-width: 80em) {
  /* line 113, src/components/accordion/_styles.scss */
  .accordion__item-heading {
    font-size: 19px;
    line-height: 1.33;
  }
}
@media (min-width: 100em) {
  /* line 113, src/components/accordion/_styles.scss */
  .accordion__item-heading {
    font-size: 24px;
  }
}

/* line 130, src/components/accordion/_styles.scss */
.accordion__item-icon {
  flex-shrink: 0;
  height: 14px;
  position: relative;
  width: 14px;
}

/* line 137, src/components/accordion/_styles.scss */
.accordion__item-icon-plus,
.accordion__item-icon-minus {
  fill: #06847b;
  height: 14px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: fill 0.2s ease-in-out;
  width: 14px;
}

/* line 149, src/components/accordion/_styles.scss */
.accordion__item-icon-minus {
  display: none;
}

/* line 153, src/components/accordion/_styles.scss */
.accordion__item-panel {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
/* line 158, src/components/accordion/_styles.scss */
.accordion__item-panel video,
.accordion__item-panel picture,
.accordion__item-panel img,
.accordion__item-panel iframe {
  width: 100%;
}

/* line 166, src/components/accordion/_styles.scss */
.accordion__item-content {
  font-size: 18px;
  line-height: 1.78;
  padding: 2px 20px 20px;
}
@media (min-width: 80em) {
  /* line 166, src/components/accordion/_styles.scss */
  .accordion__item-content {
    padding: 28px 100px 45px;
  }
}
/* line 176, src/components/accordion/_styles.scss */
.accordion__item-content * + video,
.accordion__item-content * + picture,
.accordion__item-content * + img,
.accordion__item-content * + iframe,
.accordion__item-content * + .buttons-row {
  margin-top: 20px;
}
@media (min-width: 80em) {
  /* line 176, src/components/accordion/_styles.scss */
  .accordion__item-content * + video,
  .accordion__item-content * + picture,
  .accordion__item-content * + img,
  .accordion__item-content * + iframe,
  .accordion__item-content * + .buttons-row {
    margin-top: 60px;
  }
}
/* line 189, src/components/accordion/_styles.scss */
.accordion__item-content .buttons-row {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 193, src/components/accordion/_styles.scss */
.accordion__item-content .buttons-row .btn {
  margin: 10px;
}

/* line 5, src/components/button/_styles.scss */
.btn {
  appearance: none;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  min-width: 200px;
  padding: 12px 24px 14px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}
/* line 20, src/components/button/_styles.scss */
.btn svg {
  height: 30px;
  margin-right: 17px;
  transition: fill 0.2s ease-in-out;
  width: 30px;
}
/* line 27, src/components/button/_styles.scss */
.btn.btn--primary {
  background-color: #06847b;
  color: #fff;
}
/* line 31, src/components/button/_styles.scss */
.btn.btn--primary svg {
  fill: #fff;
}
/* line 35, src/components/button/_styles.scss */
.btn.btn--primary:hover,
.btn.btn--primary:focus {
  background-color: #1e3f36;
}
/* line 40, src/components/button/_styles.scss */
.btn.btn--primary.btn--outline {
  background-color: transparent;
  border: solid 1px #06847b;
  color: #06847b;
}
/* line 45, src/components/button/_styles.scss */
.btn.btn--primary.btn--outline svg {
  fill: #06847b;
}
/* line 49, src/components/button/_styles.scss */
.btn.btn--primary.btn--outline:hover,
.btn.btn--primary.btn--outline:focus {
  background-color: #1e3f36;
  border: solid 1px #1e3f36;
  color: #fff;
}
/* line 55, src/components/button/_styles.scss */
.btn.btn--primary.btn--outline:hover svg,
.btn.btn--primary.btn--outline:focus svg {
  fill: #fff;
}
/* line 61, src/components/button/_styles.scss */
.btn.btn--primary:disabled,
.btn.btn--primary.btn--disabled {
  background-color: rgba(6, 132, 123, 0.2);
  color: #6f8f89;
  pointer-events: none;
}
/* line 69, src/components/button/_styles.scss */
.btn.btn--secondary {
  background-color: #fff;
  color: #06847b;
}
/* line 73, src/components/button/_styles.scss */
.btn.btn--secondary svg {
  fill: #06847b;
}
/* line 77, src/components/button/_styles.scss */
.btn.btn--secondary:hover,
.btn.btn--secondary:focus {
  background-color: #06847b;
  color: #fff;
}
/* line 82, src/components/button/_styles.scss */
.btn.btn--secondary:hover svg,
.btn.btn--secondary:focus svg {
  fill: #fff;
}
/* line 87, src/components/button/_styles.scss */
.btn.btn--secondary.btn--outline {
  background-color: transparent;
  border: solid 1px #fff;
  color: #fff;
}
/* line 92, src/components/button/_styles.scss */
.btn.btn--secondary.btn--outline svg {
  fill: #fff;
}
/* line 96, src/components/button/_styles.scss */
.btn.btn--secondary.btn--outline:hover,
.btn.btn--secondary.btn--outline:focus {
  background-color: #fff;
  color: #1e3f36;
}
/* line 101, src/components/button/_styles.scss */
.btn.btn--secondary.btn--outline:hover svg,
.btn.btn--secondary.btn--outline:focus svg {
  fill: #1e3f36;
}
/* line 107, src/components/button/_styles.scss */
.btn.btn--secondary:disabled,
.btn.btn--secondary.btn--disabled {
  background-color: transparent;
  border: solid 1px #6f8f89;
  color: #6f8f89;
  pointer-events: none;
}
/* line 116, src/components/button/_styles.scss */
.btn.btn--small {
  font-size: 14px;
  min-width: 100px;
  padding: 5px 20px;
}

/* line 3, src/components/content-card/_styles.scss */
.content-card {
  height: 380px;
  width: 100%;
  border: solid 1px #dddddd;
  transition: all 0.5s;
}
/* line 9, src/components/content-card/_styles.scss */
.content-card.content-card--no-image {
  height: 220px;
}
/* line 13, src/components/content-card/_styles.scss */
.content-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 15px 0 rgba(0, 0, 0, 0.15);
}
/* line 17, src/components/content-card/_styles.scss */
.content-card:hover .content-card__cta {
  text-decoration: underline;
}
/* line 20, src/components/content-card/_styles.scss */
.content-card:hover .content-card__cta svg {
  transform: translateX(5px);
}
@media (min-width: 48em) {
  /* line 3, src/components/content-card/_styles.scss */
  .content-card {
    width: 25%;
  }
}

/* line 31, src/components/content-card/_styles.scss */
.content-card__wrapper {
  margin: 19px 32px 30px 35px;
  height: 172px;
  display: flex;
  flex-direction: column;
}

/* line 38, src/components/content-card/_styles.scss */
.content-card__heading {
  line-height: 1.78;
  font-size: 18px;
  font-weight: 600;
  color: #4a4a4a;
}

/* line 45, src/components/content-card/_styles.scss */
.content-card__image {
  width: 100%;
  height: 159px;
}
/* line 49, src/components/content-card/_styles.scss */
.content-card__image img {
  width: 100%;
  height: 100%;
}

/* line 55, src/components/content-card/_styles.scss */
.content-card__copy {
  margin: 5px 0 15px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: normal;
  flex: 1;
  color: #4a4a4a;
}

/* line 64, src/components/content-card/_styles.scss */
.content-card__cta {
  font-size: 14px;
  color: #06847b;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
}
/* line 71, src/components/content-card/_styles.scss */
.content-card__cta svg {
  width: 6px;
  height: 10px;
  fill: #06847b;
  transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

/* line 3, src/components/link-list/_styles.scss */
.link-list {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: #06847b;
  display: inline-flex;
  font-size: 14px;
  padding: 0;
  text-align: left;
  text-decoration: none;
}
/* line 14, src/components/link-list/_styles.scss */
.link-list:hover {
  text-decoration: underline;
}

/* line 19, src/components/link-list/_styles.scss */
.link-list__arrow {
  height: 15px;
  width: 15px;
  transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  fill: #06847b;
}

/* line 27, src/components/link-list/_styles.scss */
.link-list--right .link-list__arrow {
  margin-left: 0.25rem;
}

/* line 32, src/components/link-list/_styles.scss */
.link-list--right:hover .link-list__arrow {
  transform: translateX(0.3125rem);
}

/* line 39, src/components/link-list/_styles.scss */
.link-list--left span {
  order: 2;
}

/* line 44, src/components/link-list/_styles.scss */
.link-list--left:hover .link-list__arrow {
  transform: translateX(-0.3125rem);
}

/* line 50, src/components/link-list/_styles.scss */
.link-list--small {
  font-size: 14px;
}

/* line 54, src/components/link-list/_styles.scss */
.link-list--large {
  font-size: 16px;
}
