<div class="simple-masterhead {{#if centered}}simple-masterhead-center-aligned{{/if}}">
  <h1 class="simple-masterhead__heading">{{heading}}</h1>
  {{#if subHeading}}
    <h2 class="simple-masterhead__subheading">{{subHeading}}</h2>
  {{/if}}
  {{#if copy}}
    <div class="simple-masterhead__copy">
      {{{copy}}}
    </div>
  {{/if}}
</div>
