<div class="s-curve-card">
  <div class="s-curve-card__media">
    {{#if videoPlayer}}
    {{>@video videoPlayer=videoPlayer videoId=videoId background=background poster=poster}}
    {{else}}
    {{#json image}}
    {{>picture}}
    {{/json}}
    {{/if}}
  </div>
  <div class="s-curve-card__content">
    {{#if subhead}}<h3 class="s-curve-card__subhead">{{subhead}}</h3>{{/if}}
    <h2 class="s-curve-card__headline">{{headline}}</h2>
    {{#if description}}
    <div class="s-curve-card__description rtf">
      {{{description}}}
    </div>
    {{/if}}
    {{#ifCond buttonLabel "||" linkLabel}}
    <div class="s-curve-card__actions">
      {{#if buttonLabel}}
      {{>@button type="link" label=buttonLabel className="primary"}}
      {{/if}}
      {{#if linkLabel}}
      {{>@link label=linkLabel className="primary" icon="right"}}
      {{/if}}
    </div>
    {{/ifCond}}
  </div>
</div>
