<div class="video"{{#unless background}} data-module="youtube" data-video-id="{{videoId}}"{{/unless}}>
  {{#if background}}
  <div class="video__background">
    <iframe width="640" height="360"
    src="http://www.youtube.com/embed/{{videoId}}?controls=0&showinfo=0&rel=0&mute=1&autoplay=1&loop=1"
    frameborder="0"></iframe>
  </div>
  {{else}}
  {{#json image}}
  {{>picture className="video__poster"}}
  {{/json}}
  {{>svg name="play" viewBox="0 0 495 495"}}
  {{/if}}
</div>
