@import '../../theme', 'variables';

.content-card {
  min-height: 380px;
  width: 100%;
  border: solid 1px $border-primary;
  transition: all 0.5s;

  &.content-card--no-image {
    min-height: 220px;
  }

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 15px 0 rgba(0, 0, 0, 0.15);

    .content-card__cta {
      text-decoration: underline;

      svg {
        transform: translateX(5px);
      }
    }
  }

  @include mq(tablet) {
    width: 25%;
  }
}

.content-card__wrapper {
  margin: 19px 32px 30px 35px;
  height: 172px;
  display: flex;
  flex-direction: column;
}

.content-card__heading {
  line-height: 1.78;
  font-size: 18px;
  font-weight: 600;
  color: $text-primary;
}

.content-card__image {
  width: 100%;
  height: 159px;

  img {
    width: 100%;
    height: 100%;
  }
}

.content-card__copy {
  margin: 5px 0 15px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: normal;
  flex: 1;
  color: $text-primary;
}

.content-card__cta {
  font-size: 14px;
  color: $cta-primary;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;

  svg {
    width: 6px;
    height: 10px;
    fill: $cta-primary;
    transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  }
}
