<div class="content-card {{#unless image}} content-card--no-image {{/unless}}">
  <!-- Display this div if image exists-->
  <picture class="content-card__image">
    <source media="(max-width: 767px)" srcset="https://verndale-image-tools.herokuapp.com/random/mountains?seed&#x3D;1&amp;w&#x3D;767&amp;h&#x3D;430">
    <source media="(max-width: 1279px)" srcset="https://verndale-image-tools.herokuapp.com/random/mountains?seed&#x3D;1&amp;w&#x3D;1280&amp;h&#x3D;717">
    <img src="https://verndale-image-tools.herokuapp.com/random/mountains?seed&#x3D;1&amp;w&#x3D;790&amp;h&#x3D;444" alt="Image Description" loading="lazy">
  </picture>
  <div class="content-card__wrapper">
    <h6 class="content-card__heading">{{heading}}</h6>
    <div class="content-card__copy">{{copy}}</div>
    <div class="content-card__actions">
      <a href={{cta}} class="btn btn--primary btn--small">
        {{ctaLabel}}
      </a>
    </div>
  </div>
</div>
