<div class='column-row' data-module='column-row'>
  <h2 class='column-row__heading'>{{heading}}</h2>
  <div class='column-row__copy rtf'>{{copy}}</div>
  <div class='colum-row__container colum-row__container--{{type}}'>
    {{#json items}}
      {{#each this}}
      <div class="column-row__cards-item">
        {{>@content-card
            image= 'https://images.pexels.com/photos/3183198/pexels-photo-3183198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'
            heading= 'Default'
            copy= 'Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum.'
            ctaLabel= 'Action'
            cta= '#'
            icon= 'chevron-right'
        }}
      </div>
      {{/each}}
    {{/json}}
  </div>
</div>