{{#*inline "crumb"}}
  <a href="#">{{title}}</a>
{{/inline}}

<nav aria-label="Breadcrumbs" class="breadcrumbs" style="--separator: '//';">
  <ol>
    {{#json crumbs}}
      {{#each this}}
         <li>
        {{#unless @last}}
          {{> crumb}}
        {{else}}
          <a aria-current="page" >{{title}}</a>
        {{/unless}}
        </li>
      {{/each}}
    {{/json}}
  </ol>
</nav>
