<section class="content-section-row container"></section>
  {{#if heading}}
  <h2 class='content-section-row__heading'>
    {{heading}}
  </h2>
  {{/if}}
  <div class='content-section-row__rtf'>
    {{rtf}}
  </div>
</div>

