<a class="background-image-content-card" href="">
  <picture class="background-image-content-card__image">
    <source srcset="https://picsum.photos/1921/1080" media="(min-width: 601px)" />
    <source srcset="https://picsum.photos/1922/1080" media="(max-width: 600px)" />
    <img src="https://picsum.photos/19{23/1080" alt="" />
  </picture>
  <h2 class="background-image-content-card__title">{{title}}</h2>
  <p class="background-image-content-card__copy">{{copy}}</p>
</a>
