$large-image-w-cta-mobile-margin-bottom: map-get($module-spacing, "mobile") !default;
$large-image-w-cta-mobile-margin-top: map-get($module-spacing, "mobile") !default;
$large-image-w-cta-desktop-margin-bottom: map-get($module-spacing, "desktop") !default;
$large-image-w-cta-desktop-margin-top: map-get($module-spacing, "desktop") !default;
$large-image-w-cta-overlay-color: #000 !default;
$large-image-w-cta-mobile-text-color: #000 !default;
$large-image-w-cta-desktop-text-color: #FFF !default;
