<a class="background-image-content-card" href="">
  {{>picture srcset=image.srcset src=image.src description=image.description className='background-image-content-card__image'}}
  <h2 class="background-image-content-card__title">{{title}}</h2>
  <p class="background-image-content-card__copy">{{copy}}</p>
</a>
