@import url('http://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');
@import url('http://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import 'theme';
@import '../../node_modules/sass-mq/mq';
@import '../../node_modules/swiper/swiper-bundle';
@import '../../node_modules/swiper/swiper';
@import '../../node_modules/tiny-slider/src/tiny-slider';

@import 'global';

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
html,
body,
div,
span,
applet,
object,
iframe,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;

  &:before,
  &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  outline: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input {
  &[type='search'] {
    appearance: none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  &[type='number'] {
    appearance: none;
  }
}

picture {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

body {
  font-family: $primary-font;
  font-size: 18px;
  line-height: 1.78;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 20px;

  @include mq(desktop) {
    padding: 0 80px;
  }

  @include mq(wide) {
    padding: 0 120px;
  }
}

@import './**/**.scss';
