<section class='flexible-image-carousel' data-module='flexibleImageCarousel' aria-labelledby="sectionHeadlineTitle">
  <div class='section-headline'>
    <p class='section-headline__subtitle'>Your Go-To</p>
    <h2 class='section-headline__title' id="sectionHeadlineTitle">For Every Occasion</h2>
  </div>
  <div class='flexible-image-carousel__slider'>
    <div class='flexible-image-carousel__slide'>
      <a href='#' class='generic-card generic-card--tall'>
        <div class='generic-card__inner'>
          <div class='generic-card__image'>
            <img
              src='https://verndale-image-tools.herokuapp.com/id/Bkci_8qcdvQ?w=600&h=691'
              alt='Cool Description'
            />
          </div>
          <h3 class='generic-card__title'>ZZ Top at The Golden Nugget</h3>
          <p class='generic-card__subtitle'>Book Your Stay</p>
        </div>
      </a>
    </div>
    <div class='flexible-image-carousel__slide'>
      <a href='#' class='generic-card generic-card--short'>
        <div class='generic-card__inner'>
          <div class='generic-card__image'>
            <img
              src='https://verndale-image-tools.herokuapp.com/id/Bkci_8qcdvQ?w=600&h=691'
              alt='Cool Description'
            />
          </div>
          <h3 class='generic-card__title'>Celebrate Your Wedding in Style</h3>
          <p class='generic-card__subtitle'>Book Your Stay</p>
        </div>
      </a>
      <a href='#' class='generic-card generic-card--short'>
        <div class='generic-card__inner'>
          <div class='generic-card__image'>
            <img
              src='https://verndale-image-tools.herokuapp.com/id/Bkci_8qcdvQ?w=600&h=691'
              alt='Cool Description'
              class='lazyload img--cover'
            />
          </div>
          <h3 class='generic-card__title'>ZZ Top at The Golden Nugget</h3>
          <p class='generic-card__subtitle'>Book Your Stay</p>
        </div>
      </a>
    </div>
    <div class='flexible-image-carousel__slide'>
      <a href='#' class='generic-card generic-card--short'>
        <div class='generic-card__inner'>
          <div class='generic-card__image'>
            <img
              src='https://verndale-image-tools.herokuapp.com/id/Bkci_8qcdvQ?w=600&h=691'
              alt='Cool Description'
            />
          </div>
          <h3 class='generic-card__title'>ZZ Top at The Golden Nugget</h3>
          <p class='generic-card__subtitle'>Book Your Stay</p>
        </div>
      </a>
      <a href='#' class='generic-card generic-card--short'>
        <div class='generic-card__inner'>
          <div class='generic-card__image'>
            <img
              src='https://verndale-image-tools.herokuapp.com/id/Bkci_8qcdvQ?w=600&h=691'
              alt='Cool Description'
            />
          </div>
          <h3 class='generic-card__title'>ZZ Top at The Golden Nugget</h3>
          <p class='generic-card__subtitle'>Book Your Stay</p>
        </div>
      </a>
    </div>
  </div>
  <div class='flexible-image-carousel__buttons container'>
    <button
      type='button'
      aria-label='Previous Slide'
      class='flexible-image-carousel__button'
    >
      <span>
        {{>svg name="chevron-left" viewBox="0 0 6 12"}}
      </span>
    </button>
    <button
      type='button'
      aria-label='Next Slide'
      class='flexible-image-carousel__button'
    >
      <span>
        {{>svg name="chevron-right" viewBox="0 0 6 12"}}
      </span>
    </button>
  </div>
</section>
