<section class="testimonials container scEnabledChrome" data-module="testimonials" sc-part-of="placeholder rendering">
	<header>
		<h2 class="testimonials__heading">
			<span class="scChromeData"></span><span id="fld_77D47B44369D4ACE84D66C17A275811D_1D631840345E4DDEB0539099EA076EEE_en_1_e6929504dae7493c83cb7b24225421d3_292_edit" sc_parameters="prevent-line-break=true" contenteditable="true" class="scWebEditInput scEnabledChrome" scfieldtype="single-line text" scdefaulttext="[No text in field]" sc-part-of="field">Testimonial Carousel</span>
		</h2>
	</header>
	<div class="testimonials__slider">
		<div class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
			<div class="swiper-wrapper">
				<span type="text/sitecore" sc-part-of="placeholder rendering" style="display: none;" class="scEnabledChrome"></span><div class="scEnabledChrome scEmptyPlaceholder" sc-placeholder-id="_Rows_TestimonialCarouselCards__C42E4A27_B288_4A35_82D6_BDF2B96BB2CA__0" sc-part-of="placeholder"></div><code type="text/sitecore" id="scEnclosingTag_" chrometype="placeholder" kind="close" hintname="TestimonialCarouselCards" class="scpm">
			</div>
		</div>
	</div>
</section>
