<footer class="footer">
  <div class="footer__links">
    <div class="container footer__container">
      <nav class="footer__nav" aria-label="Footer Navigation">
        <a href="#" class="link-reuse link link--on-dark">
          Systems &amp; Solutions
        </a>
        <a href="#" class="link-reuse link link--on-dark">
          Resources
        </a>
        <a href="#" class="link-reuse link link--on-dark">
          Submittals &amp; Documentation
        </a>
        <a href="#" class="link-reuse link link--on-dark">
          About Reuse
        </a>
      </nav>
      <h5 class="footer__text--uppercase">Connect with us</h5>
      <nav class="footer__social-links" aria-label="Reuse Social Links">
        <a href="#" class="social-link" aria-label="Reuse Facebook Page Link" target="_blank" rel="noopener noreferrer">
          <img src="/images/icon-facebook.png" class="social-link__icon" alt="Facebook Logo" />
        </a>
        <a href="#" class="social-link" aria-label="Reuse YouTube Page Link" target="_blank" rel="noopener noreferrer">
          <img src="/images/icon-youtube.png" class="social-link__icon" alt="YouTube Logo" />
        </a>
        <a href="#" class="social-link" aria-label="Reuse Twitter Page Link" target="_blank" rel="noopener noreferrer">
          <img src="/images/icon-twitter.png" class="social-link__icon" alt="Twitter Logo" />
        </a>
        <a href="#" class="social-link" aria-label="Reuse Instagram Page Link" target="_blank"
          rel="noopener noreferrer">
          <img src="/images/icon-instagram.png" class="social-link__icon" alt="Instagram Logo" />
        </a>
      </nav>
      <div class="footer__info">
        <nav class="footer__info-links">
          <a href="#" class="link-reuse link link--on-dark">
            Terms of use
          </a>
          <a href="#" class="link-reuse link link--on-dark">
            Privacy policy
          </a>
        </nav>
        <div>
          <span class="footer__info-copyright">© Copyright 2021 Reuse</span>
          <span>| 1000 Rochelle Blvd., Irving, TX | 75062 | 1-800-922-8800</span>
        </div>
      </div>
    </div>
  </div>
</footer>