<section class="cta-row{{#if backgroundImage}} cta-row--with-background{{/if}}{{#if image}} cta-row--with-image{{/if}} container" aria-labelledby="ctaRowTitle">
  <div class="cta-row__inner">
    <div class="cta-row__content">
      <h2 class="cta-row__title" id="ctaRowTitle">{{title}}</h2>
      {{#if description}}
      <div class="cta-row__description rtf">
        {{{description}}}
      </div>
      {{/if}}
      {{>@button label=ctaLabel type="link" className="primary"}}
    </div>
    {{#if image}}
    {{#json image}}
    {{>picture className="cta-row__image"}}
    {{/json}}
    {{/if}}
    {{#if backgroundImage}}
    {{#json backgroundImage}}
    {{>picture className="cta-row__background"}}
    {{/json}}
    {{/if}}
  </div>
</section>
