<nav aria-label="Breadcrumbs" class="breadcrumbs">
  <p>
    <a class="breadcrumb__item" href="/academics/" rel="index up up">Academics</a>
    <span aria-hidden="true" class="breadcrumb__separator"> // </span>
    <a class="breadcrumb__item" href="/academics/faculty/" rel="up">Faculty & Staff</a>
    <span aria-hidden="true" class="breadcrumb__separator"> // </span>
    <a class="breadcrumb__item" aria-current="page" >Browse</a>
  </p>
</nav>
