$primary-color: map-get($theme-colors, 'primary') !default;
$border-color: map-get($theme-colors, 'primary-light-gray') !default;
$background-container-color: #fff !default;
$background-masthead-color: #fff !default;
