<section class="full-width-image" aria-labelledby="fullWidthImageHeader">
  <h2 class="full-width-image__header" id="fullWidthImageHeader">{{heading}}</h2>
  <figure class="full-width-image__figure">
    {{>picture srcset=image.srcset src=image.src description=image.description className="full-width-image__image"}}
    <figcaption class="full-width-image__caption">{{caption}}</figcaption>
  </figure>
</section>
